:root {
  --body-background: whitesmoke;
  --primary-color: rgb(0, 117, 255);
  --text-color: #212427;
  --nav-background: white;
}

[theme="dark"] {
  --body-background:rgb(23,23,26);
  --text-color: #eaedf2;
  --nav-background: rgb(34,34,40);
}

*{
  margin: 0;
  padding: 0;
}

h1, h2, p, span, li{
  transition: color 200ms;
  color: var(--text-color);
}

body, div, button {
  transition: background-color 200ms;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
